.background-image {
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.creature-container {
  align-items: center;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  width: 320px;
}

.creature-header {
  color: #DAA520;
  padding: 5px 0px;
}

.creature-image {
  background-color: #faebd7;
  border-radius: 10px;
}

.creature-info {
  border-top: 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0px;
  width: 100%;
}

.creature-name {
  color: #DAA520;
  font-size: 25px;
  text-align: center;
}

.creature-page {
  align-items: center;
  background-color: #242424;
  box-shadow: 0px -20px 20px 5px #242424;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-start;
  margin-top: 550px;
  position: relative;
  z-index: 999;
}

.creature-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
  width: 320px;
}

.death {
  color: #a0a0a0;
}

.description-switch {
  color: #DAA520;
}

.earth {
  color: #00ff00;
}

.energy {
  color: #ff00ff;
}

.flexcolumn {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.fire {
  color: #ff0000;
}

.gap10 {
  gap: 10px;
}

.gold-hover {
  &:hover {
    color: #DAA520;
    cursor: pointer;
    transition: 0.2s;
  }
}

.holy {
  color: #ffff00;
}

.ice {
  color: #27c9ff;
}

.margintop10 {
  margin-top: 10px;
}

.physical {
  color: #af0000;
}

.ratio {
  font-size: 12px;
  margin-bottom: 8px;
  margin-top: -10px;
}