.background-image {
  width: 100%;
  height: 800px;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.guilds-page {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #242424;
  margin-top: 550px;
  height: 400px;
  box-shadow: 0px -20px 20px 5px #242424;
  z-index: 999;
  gap: 10px;
}

.guild-search {
  display: flex;
  gap: 10px;
}

.search-button {
  align-self: flex-start;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #DAA520;
  color: white;
  font-family: Poppins, sans-serif;

  &:hover {
    filter: brightness(90%);
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 15px #DAA520;
  }
}

.search-bar {
  width: 240px;
  outline: none;
  border-radius: 10px;
  border: solid 2px;
  border-color: #DAA520;
  outline-color: #DAA520;
  padding-left: 10px;

  &:hover {
    filter: brightness(90%);
  }

  &:focus {
    box-shadow: 0px 0px 15px #DAA520;
    filter: brightness(90%);
  }
}

.gold-hover {
  &:hover {
    cursor: pointer;
    color: #DAA520;
    transition: 0.2s;
  }
}

.gold-fragment {
  color: #DAA520;
  cursor: pointer;
}

.guild-info {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  padding: 10px 19px;
  width: 280px;
  height: max-content;
}

.guildhall-info {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  padding: 10px 19px;
  width: 300px;
  height: max-content;
}

.members-info {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  border-top: 1px solid;
  border-right: 1px solid;
}

.guild-image-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  padding: 20px 20px;
  height: max-content;
}

.guild-image {
  width: 64px
}

.guild-detail {
  width: auto;
  border-top: 1px solid;
}

.guild-result-container {
  display: flex;
  gap: 10px;
}

.members-list {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px;
  height: 50px;

}

.members-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  border-left: 1px solid;
  width: 100%;
  height: 50px;
}

.members-list-name {
  border-left: 1px solid;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.members-detail {
  border-left: 1px solid;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.members-last-detail {
  border-left: 1px solid;
  border-right: 1px solid;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guilds-page-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}