.background-image {
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.gold-fragment {
  color: #DAA520;
  cursor: pointer;
}

.gold-hover {
  &:hover {
    color: #DAA520;
    cursor: pointer;
    transition: 0.2s;
  }
}

.guild-detail {
  border-top: 1px solid;
  width: auto;
}

.guildhall-info {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px 19px;
  width: 300px;
}

.guild-image {
  width: 64px;
}

.guild-image-info {
  align-items: center;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  padding: 20px 20px;
}

.guild-info {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px 19px;
  width: 280px;
}

.guild-result-container {
  display: flex;
  gap: 10px;
  text-align: start;

  @media (max-width: 1024px) {
    align-items: center;
    flex-direction: column;
  }
}

.guild-search {
  display: flex;
  gap: 10px;
}

.guilds-page {
  align-items: center;
  background-color: #242424;
  box-shadow: 0px -20px 20px 5px #242424;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 400px;
  justify-content: flex-start;
  margin-top: 550px;
  position: relative;
  text-align: center;
  z-index: 999;
}

.guilds-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.members-detail {
  align-items: center;
  border-bottom: solid 1px;
  border-right: solid 1px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;
  width: 200px;
}

.members-header {
  align-items: center;
  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

.members-info {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
}

.members-last-detail {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 200px;
}

.members-list {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.members-list-name {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 200px;
}

.members-scrollable {
  @media (max-width: 1600px) {
    max-height: 500px;
    max-width: 100%;
    overflow-x: auto;
    width: 90vw;
  }

  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
}

.search-bar {
  border: solid 2px;
  border-color: #DAA520;
  filter: brightness(90%);
  outline: none;
  outline-color: #DAA520;
  padding-left: 10px;
  width: 240px;

  &:focus {
    box-shadow: 0px 0px 15px #DAA520;
    filter: brightness(90%);
  }

  &:hover {
    filter: brightness(90%);
  }
}

.search-button {
  align-self: flex-start;
  background-color: #DAA520;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  height: 40px;
  transition: 0.2s;
  width: 100%;

  &:hover {
    box-shadow: 0px 0px 15px #DAA520;
    cursor: pointer;
    filter: brightness(90%);
  }
}