.auction-status-child {
  align-items: center;
  border-bottom: solid 1px;
  border-right: solid 1px;
  display: flex;
  flex-shrink: 0;
  height: 37px;
  justify-content: center;
  padding: 0px 10px;
  text-align: center;
  width: 100px;
}

.auction-status-children-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  margin-left: 2px;
}

.auction-status-header {
  align-items: center;
  border-bottom: solid 1px;
  border-right: solid 1px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 37px;
  justify-content: center;
  margin-left: 2px;
  padding: 0px 31px;
  text-align: center;
  width: 300px;
}

.background-image {
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.flexrow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 40px;
  justify-content: center;
}

.flexrownogap {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
}

.gold-hover {
  &:hover {
    color: #DAA520;
    cursor: pointer;
    transition: 0.2s;
  }
}

.houses-page {
  align-items: center;
  background-color: #242424;
  box-shadow: 0px -20px 20px 5px #242424;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 400px;
  justify-content: flex-start;
  margin-top: 550px;
  position: relative;
  z-index: 999;
}

.houses-scrollable {
  @media (max-width: 1700px) {
    max-height: 500px;
    max-width: 100%;
    overflow-x: auto;
    width: 85vw;
  }

  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
}

.houses-search {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.house {
  display: flex;
}

.house-auctioned {
  align-items: center;
  border-bottom: solid 1px;
  border-right: solid 1px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 75px;
  justify-content: center;
  padding: 0px 31px;
  text-align: center;
  width: 300px;
}

.house-detail {
  align-items: center;
  border-bottom: solid 1px;
  border-right: solid 1px;
  display: flex;
  flex-shrink: 0;
  height: 75px;
  justify-content: center;
  padding: 0px 10px;
  text-align: center;
  width: 100px;
}

.house-name {
  align-items: center;
  border-bottom: solid 1px;
  border-right: solid 1px;
  display: flex;
  flex-shrink: 0;
  height: 75px;
  justify-content: center;
  padding: 0px 10px;
  text-align: center;
  width: 150px;
}

.search-bar {
  border: solid 2px;
  border-color: #DAA520;
  border-radius: 10px;
  filter: brightness(90%);

  &:focus {
    box-shadow: 0px 0px 15px #DAA520;
    filter: brightness(90%);
  }

  &:hover {
    filter: brightness(90%);
  }

  outline: none;
  outline-color: #DAA520;
  padding-left: 10px;
  width: 240px;
}

.search-button {
  align-self: flex-start;
  background-color: #DAA520;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  filter: brightness(90%);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  height: 40px;

  &:hover {
    box-shadow: 0px 0px 15px #DAA520;
    filter: brightness(90%);
    transition: 0.2s;
  }

  width: 100px;
}

.select-bar {
  border: solid 2px;
  border-color: #DAA520;
  filter: brightness(90%);

  &:focus {
    box-shadow: 0px 0px 15px #DAA520;
    filter: brightness(90%);
  }

  &:hover {
    filter: brightness(90%);
  }

  height: 40px;
  outline: none;
  outline-color: #DAA520;
  width: 250px;
}

.table-header {
  align-items: center;
  border-left: solid 1px;
  border-right: solid 2px;
  border-top: solid 1px;
  display: flex;
  justify-content: center;
}