.background-image {
  width: 100%;
  height: 800px;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.houses-page {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #242424;
  margin-top: 550px;
  height: 400px;
  box-shadow: 0px -20px 20px 5px #242424;
  z-index: 999;
  gap: 10px;
}

.houses-search {
  display: flex;
  gap: 10px;
}

.search-button {
  align-self: flex-start;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #DAA520;
  color: white;
  font-family: Poppins, sans-serif;

  &:hover {
    filter: brightness(90%);
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 15px #DAA520;
  }
}

.search-bar {
  width: 250px;
  outline: none;
  border-radius: 10px;
  border: solid 2px;
  border-color: #DAA520;
  outline-color: #DAA520;
  background-color: lightgray;

  &:hover {
    filter: brightness(90%);
  }

  &:focus {
    box-shadow: 0px 0px 15px #DAA520;
    filter: brightness(90%);
  }
}

.select-bar {
  width: 250px;
  outline: none;
  border: solid 2px;
  border-color: #DAA520;
  outline-color: #DAA520;
  background-color: lightgray;

  &:hover {
    filter: brightness(90%);
  }

  &:focus {
    box-shadow: 0px 0px 15px #DAA520;
    filter: brightness(90%);
  }
}

.gold-hover {
  &:hover {
    cursor: pointer;
    color: #DAA520;
    transition: 0.2s;
  }
}