a {
  color: white;
  text-decoration: none;
}

.link {
  &:hover {
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    filter: brightness(90%);
  }

  padding: 3px 10px;
}

.links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  @media (max-width: 1024px) {
    gap: 15px;
  }

  @media (max-width: 425px) {
    gap: 5px;
  }
}

.nav-wrapper {
  align-items: center;
  background-color: #242424;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  opacity: 0.90;
  width: 95%;
}

nav {
  @media (max-width: 350px) {
    height: 175px;
  }

  @media (max-width: 425px) {
    height: 150px;
  }

  @media (max-width: 768px) {
    height: 150px;
  }

  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

nav header {
  color: #DAA520;
  font-size: 20px;
  padding: 3px 10px;
}