.background-image {
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.gold-hover {
  &:hover {
    color: #DAA520;
    cursor: pointer;
    transition: 0.2s;
  }
}

.spell {
  display: flex;
  flex-direction: row;
}

.spell-detail {
  align-items: center;
  border-bottom: solid 1px;
  border-right: solid 1px;
  display: flex;
  flex-shrink: 0;
  height: 75px;
  justify-content: center;
  padding: 0px 10px;
  text-align: center;
  width: 100px;
}

.spell-detail-id {
  align-items: center;
  border-bottom: solid 1px;
  border-right: solid 1px;
  display: flex;
  flex-shrink: 0;
  height: 75px;
  justify-content: center;
  padding: 0px 10px;
  text-align: center;
  width: 200px;
}

.spells-page {
  align-items: center;
  background-color: #242424;
  box-shadow: 0px -20px 20px 5px #242424;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-start;
  margin-top: 550px;
  position: relative;
  z-index: 999;
}

.spells-scrollable {
  @media (max-width: 1700px) {
    max-height: 500px;
    max-width: 100%;
    overflow-x: auto;
    width: 90vw;
  }

  border-left: solid 1px;
  border-right: solid 1px;
  border-top: solid 1px;
  margin-top: 10px;
}

.spell-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}