.background-image {
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.flexcolumn {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gold-hover {
  &:hover {
    color: #DAA520;
    cursor: pointer;
    transition: 0.2s;
  }
}

.spell-container {
  align-items: center;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 320px;
}

.spell-header {
  color: #DAA520;
  padding: 5px 0px;
}

.spell-image {
  padding: 10px 0px;
}

.spell-info {
  border-top: 1px solid;
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  width: 100%;
}

.spell-name {
  color: #DAA520;
  font-size: 25px;
  text-align: center;
}

.spell-page {
  align-items: center;
  background-color: #242424;
  box-shadow: 0px -20px 20px 5px #242424;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-start;
  margin-top: 550px;
  position: relative;
  z-index: 999;
}