.background-image {
  width: 100%;
  height: 800px;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.worlds-page {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #242424;
  margin-top: 550px;
  height: 400px;
  box-shadow: 0px -20px 20px 5px #242424;
}

.worlds-page-display {
  display: flex;
  gap: 20px;

  /* refresh button  */
  margin-left: 120px;
}

.worlds-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.world {
  display: flex;
  flex-direction: row;
  border-top: solid 1px;
  border-left: solid 1px;
  border-bottom: solid 1px;
}

.world-component {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  text-align: center;
  border-right: solid 1px;
  padding: 0px 10px;
}

.world-location {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-right: solid 1px;
  padding: 0px 10px;
}

.world-pvp-type {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-right: solid 1px;
  padding: 0px 10px;
}

.refresh {
  align-self: flex-start;
  width: 100px;
  height: 40px;
  font-size: 16px;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  background-color: #DAA520;
  color: white;
  font-family: Poppins, sans-serif;

  &:hover {
    filter: brightness(90%);
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 15px #DAA520;
  }
}

.loading {
  font-size: 20px;
}

.general-data {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.highlight-data {
  color: #DAA520;
}

.clickable-header {
  &:hover {
    cursor: pointer;
    color: #DAA520;
    transition: 0.2s;
  }
}