.background-image {
  height: 800px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.clickable-header {
  &:hover {
    color: #DAA520;
    cursor: pointer;
    transition: 0.2s;
  }
}

.general-data {
  align-items: center;
  display: flex;
  gap: 40px;
  padding-bottom: 15px;
  padding-top: 5px;

  @media (max-width: 1000px) {
    flex-direction: column;
    gap: 10px;
  }
}

.highlight-data {
  color: #DAA520;
}

.loading {
  font-size: 20px;
}

.refresh {
  align-self: center;
  background-color: #DAA520;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  filter: brightness(90%);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  height: 40px;
  margin-bottom: 25px;
  margin-right: 0;

  &:hover {
    box-shadow: 0px 0px 15px #DAA520;
    filter: brightness(90%);
    transition: 0.2s;
  }

  width: 100px;
}

.table-headers {
  background-color: #242424;
  display: flex;
  margin-top: -75px;
  width: 100%;
}

.world {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.world-component,
.wider-world-component {
  align-items: center;
  border: solid 1px;
  display: flex;
  flex-shrink: 0;
  height: 73px;
  justify-content: center;
  padding: 0px 9px;
  text-align: center;
  width: 100px;
}

.wider-world-component {
  width: 180px;
}

.worlds-page {
  background-color: #242424;
  box-shadow: 0px -20px 20px 5px #242424;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 550px;
  position: relative;

  @media (max-width: 1600px) {
    flex-direction: row;
    justify-content: center;
  }
}

.worlds-page-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.worlds-scrollable {
  @media (max-width: 1600px) {
    border: solid 1px;
    max-height: 500px;
    max-width: 100%;
    overflow-x: auto;
    width: 90vw;
  }

  @media (min-width: 1601px) {
    border: solid 1px;
  }

  padding-top: 75px;
}

.worlds-table {
  flex-direction: column;
  width: 100%;
}