@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-color: #242424;
}

body {
  margin: 0;
  max-width: 100%;
}